.livre {
    border-bottom: solid 1px #CCC;
    margin-bottom: 10px;
}

.livre img {
    width: 100%;
}

.pagination li a {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

form label {
    width: 100%;
}